<li class="email-item row">
              <div class="people col-sm-1">
                <ul class="mail-icons list-inline">
                  <li>
                    <input type="checkbox" class="mail-select check"  ng-model="$ctrl.email.isChecked">
                  </li>
                  <li>
                    <input type="button" value="Del" ng-click="$ctrl.deleteLine({eml: $ctrl.email});">
                  </li>
                </ul>               
              </div>
              <div class="people col-sm-2" ui-sref="home.box.mail({emailId:$ctrl.email.id })" style="cursor:pointer;">  
                <span class="people-names" >
                  {{$ctrl.email.userobj.name}}
                </span>              
              </div>
              <div class="message col-sm-7"  ui-sref="home.box.mail({emailId:$ctrl.email.id })" style="cursor:pointer;">
                <div class="clipper">
                  <h3><b>{{$ctrl.email.subject}}</b></h3>
                  -
                  <p>{{$ctrl.email.body}}</p>
                </div>
              </div><!-- message -->

              <div class="date col-sm-2">
                <date class="pull-right">{{$ctrl.email.created | dateAgo}}</date>
              </div><!-- date -->
            </li> 