<div class="shadowbox"></div >
<div class="in-shadowbox">
  <form name="userForm" novalidate> 
    <li class="email-item row unread">
      <div class="message col-sm-7">
          <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>To</label>
            <input type="text" name="name" class="form-control" ng-model="userTo" uib-typeahead="usr as usr.StateDesc for usr in userss | filter:$viewValue | limitTo:8" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Address is required.</p>
        </div>
          
      </div>

      <div class="date col-sm-2">
          <date class="pull-right"><a ui-sref="home.box({ boxId: 1 })">X</a></date>
      </div>
    </li>
    <li class="email-item row unread">
      <div class=" col-sm-3">
          Subject: <input type="text" value=""  ng-model="subject"  class="form-control"/>
      </div>

    </li>
    <li class="email-item row padded">
    <textarea ng-model="body"  class="form-control"></textarea>
    <br>
    <button class="compose btn btn-danger"  ng-disabled="userForm.$invalid"  ng-click="saveMail()">Send</button>
    </li>
  </form>
</div>

          